$primary: #0068b5 !default;

.calendar-container{
    max-width: 800px;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(100px, 150px) 2fr;
    margin: 20px auto;
    h4, h5{
        margin: 5px 0;
    }

    .calendar-filter-container{
        text-align: left;
        .calendar-filter-set{
            margin: 10px 0;
        }
    }
    .filter-option-list{
        padding: 5px 0 0;
        .filter-option-item{
            display: inline-flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            &::before{
                content: '';
                display: inline-block;
                border: 1px solid #a6a6a6;
                background-color: #fff;
                border-radius: 3px;
                height: 18px;
                width: 18px;
                margin-right: 6px;
            }
            &.active::after{
                content: '';
                display: inline-block;
                border-radius: 2px;
                background-color: #0068b5;
                height: 12px;
                width: 12px;
                position: absolute;
                top: 4px;
                left: 4px;
            }
        }
    }

    .calendar-container-inner{
        max-width: 500px;
    }
    .calendar-control{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-right: 1rem;
    }
    .calendar-body{
        .calendar-day-row,
        .calendar-dates{
            display: grid;
            grid-template-columns: repeat(7, minmax(0, 1fr));
        }
        .calendar-day-row{
            border-bottom: 1px solid #ddd;
        }
        .month-display{
            text-align: left;
            padding-left: 15px;
            line-height: 40px;
        }

        .calendar-day,
        .calendar-date-item{
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
        }
        .calendar-day{
            cursor: context-menu;
        }
        .calendar-date-item{
            transition: 0.2s all ease;
            cursor: pointer;
            &:hover{
                background-color: #ddd;
            }
            &.empty-date{
                cursor: context-menu;
                &:hover{
                    background-color: transparent;
                }
            }
            &.active{
                color: #fff;
                background-color: $primary;
            }
        }
    }
}