/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();


body{
    height: 100vh;
}


.h100{
    height: 100%;
}

.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.invisible{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    max-width: 0;
    max-height: 0;
    border: none;
}